p {
  font-family: var(--basic-font);
  font-size: 20px;
}
.photo {
  border-radius: 10px;
  width: 400px;
  box-shadow: var(--box-shadow);
}
.education,
.experience {
  padding: 15px;
  background-color: #eeeeee;
  border-radius: 10px;
  opacity: 0.8;
  box-shadow: var(--box-shadow);
}
.experience {
  background-color: var(--light-green);
}

.leaf {
  display: flex;
  justify-content: flex-end;
}
h2.skills-heading {
  font-size: 35px;
  font-family: var(--heading-font);
}
.skills {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.skills span {
  font-family: var(--basic-font);
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #eeeeee;
  box-shadow: var(--box-shadow);
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}
.skills span:hover {
  background-color: var(--violet);
  color: #eeeeee;
  opacity: 0.9;
}
.skills img {
  width: 20px;
  margin-left: 2px;
  filter: grayscale(100%);
}
@media (max-width: 400px) {
  h2.skills-heading {
    font-size: 25px;
  }
}
