.hero {
  text-align: center;
}
.hero img {
  width: 280px;
}
.hero h2 {
  font-family: var(--basic-font);
}
.about-button,
.portfolio-button {
  background-color: var(--violet);
  font-family: var(--basic-font);
  font-size: 20px;
  color: #eeeeee;
  border-radius: 20px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
  transition: all 200ms ease-in-out;
}
.portfolio-button {
  background-color: var(--blue-green);
}

.about-button:hover {
  background: linear-gradient(45deg, var(--violet) 0%, var(--blue-green) 100%);
}
.portfolio-button:hover {
  background: linear-gradient(45deg, var(--blue-green) 0%, var(--violet) 100%);
}
.portfolio-pictures img {
  width: 380px;
}
.portfolio-pictures img:hover {
  transform: rotateZ(8deg);
  cursor: pointer;
}
.peladvi {
  text-decoration: none;
  color: var(--violet);
}
