:root {
  --violet: #77628c;
  --light-green: #acc6aa;
  --blue-green: #71a0a5;
  --heading-font: "Quando", serif;
  --basic-font: "Judson", serif;
  --box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.3);
}
body {
  background: radial-gradient(
      circle at 50%,
      rgba(238, 238, 238),
      rgba(172, 198, 170, 0.5),
      rgba(113, 160, 165, 0.5)
    ),
    url("/images/noise.svg");
  display: block;
  margin: 0 auto;
  max-width: 900px;
}
h1 {
  font-family: var(--heading-font);
  font-size: 50px;
}
h2 {
  font-family: var(--heading-font);
  font-size: 25px;
  line-height: 1.25;
}

.navigation a {
  text-decoration: none;
  font-family: var(--basic-font);
  color: black;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 6px 18px;
  margin: 20px;
  background-color: var(--light-green);
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}
li:hover {
  background-color: #77628c;
  opacity: 1;
  color: #eeeeee;
}
a:hover {
  color: #eeeeee;
}
.active {
  background-color: var(--violet);
  color: #eeeeee;
  opacity: 1;
}
.active a {
  color: #eeeeee;
}
.vertical-line {
  margin: 0 auto;
  width: fit-content;
  border-left: 1px solid var(--violet);
  height: 60px;
}
@media (max-width: 768px) {
  .navigation li {
    margin: 5px;
  }
  h2 {
    max-width: 750px;
  }
}
@media (max-width: 400px) {
  .navigation li {
    margin: 0;
    max-width: 400px;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 20px;
  }
}

footer .social-links a {
  text-decoration: none;
  font-size: 18px;
  margin: 14px;
  color: var(--violet);
  background-color: #eeeeee;
  padding: 8px 12px;
  border-radius: 50%;
  opacity: 0.8;
}

footer .social-links a:hover {
  background-color: var(--violet);
  color: #eeeeee;
}
footer .email {
  text-decoration: none;
  font-size: 18px;
  color: var(--violet);
  font-family: var(--basic-font);
}
footer .email:hover {
  color: black;
}
.contact-details {
  margin-top: 100px;
}
.contact-details p {
  font-size: 24px;
  font-family: var(--basic-font);
  background-color: #eeeeee;
  border-radius: 15px;
  margin: 20px;
  padding: 4px 10px;
  opacity: 0.9;
}

.contact-details div {
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.25;
}
@media (max-width: 400px) {
  .contact-details {
    margin-top: 10px;
  }
}
